/*=================================
  SERVICE
=================================*/

.service{
    padding:80px 0;
}

.service .container{
    width:90%;
    max-width:1100px;
    margin:0 auto;
}

.service h1{
    text-align:center;
    font-size:48px;
    color:#003b82;
    margin-bottom:10px;
}

.service .sub-title{
    text-align:center;
    color:#666;
    margin-bottom:60px;
}

.service-box{
    margin:40px auto;
    text-align:center;
}

.service-box h2{
    color:#003b82;
    font-size:34px;
    margin-bottom:30px;
}

.service-photo{
    display:block;
    width:100%;
    max-width:700px;
    margin:30px auto;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.arrow{
    text-align:center;
    font-size:20px;
    line-height:1.8;
}

.service-list{
    list-style:none;
    display:inline-block;
    text-align:left;
    padding:0;
}



/*=================================
  ABOUT
=================================*/

.about{
    padding:80px 0;
}

.about .container{
    width:90%;
    max-width:900px;
    margin:0 auto;
    text-align:center;
}

.about h1{
    font-size:48px;
    color:#003b82;
    margin-bottom:10px;
}

.about .sub-title{
    color:#666;
    margin-bottom:60px;
}

.company-table{
    width:100%;
    max-width:800px;
    margin:0 auto;
    text-align:left;
}

.company-table .item{
    padding:25px 0;
    border-bottom:1px solid #ddd;
}

.company-table h3{
    color:#003b82;
    margin-bottom:10px;
}

.company-table p{
    line-height:1.8;
}

.exp-image{
    text-align:center;
    margin-top:60px;
}

.exp-logo{
    max-width:320px;
    width:100%;
}



/*=================================
  SMART PHONE
=================================*/

@media (max-width:768px){

.service{
    margin-top:-120px;
}

.about{
    margin-top:-120px;
}

.service h1,
.about h1{
    font-size:36px;
}

.service-box h2{
    font-size:28px;
}

.arrow{
    font-size:17px;
}

.company-table h3{
    font-size:20px;
}

.company-table p{
    font-size:16px;
}

.exp-logo{
    max-width:220px;
}




.service-box {
    margin: 0px auto;
}

.service > .container > .service-box:first-of-type {
    margin-top: 80px;
}
.service hr {
    margin: 20px 0!important;
}


}
